<!DOCTYPE html>
<html>
<head>
    <title>Articles</title>
</head>
<body>
    {% if form.is_valid %}
    <h1>Автор успешно создан!</h1>
    {% else %}
    <form action="/author/" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <button>Send</button>
    </form>
    {% endif %}
</body>
</html>
