<!DOCTYPE html>
<html>
<head>
    <title>Articles</title>
</head>
<body>
<h1>Hello, {% firstof user.username "world" %}!</h1>
<ul>
    {% for art in articles %}
        <li>{{ art.title }}</li>
    {% endfor %}
</ul>

</body>
</html>