<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-1.12.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
</head>
<body>

{% if user.is_authenticated %}
    Пользователь авторизован!
{% else %}
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <button>OK</button>
    </form>
{% endif %}

</body>
</html>