<!DOCTYPE html>
<html>
<head>
    <title>Articles</title>
</head>
<body>
    {% if form.is_valid %}
    <h1>Юзер успешно создан!</h1>
    {% else %}
    <form action="/signup/" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label for="id_{{ field.name }}">{{field.label}}</label>
        {{ field }}
        {% endfor %}
        <button>Send</button>
    </form>
    {% endif %}
</body>
</html>
